<h1>Users#show</h1>
<div>
  <p> Email address:
  <%= @user.email %>
  </p>
</div>
<div>
  <p> Hosted Events:
    <% @user.events.each do |event| %>
      <li>Event Date: <%= event.date %></li>
      <li>Event Name: <%= event.title %></li>
      <li>Description: <%= event.description %></li>
      <%= link_to 'View Event', event_path(event.id) %>
      </br>
      </br>
    <% end %>
  </p>
</div>
<div>
  <p>Upcoming Events:</p>
  <% upcoming_invites = @user.attended_events.where("date >= ?", Time.current) %>
  <% upcoming_invites.each do |event| %>
    <li>Event Date: <%= event.date %></li>
    <li>Event Name: <%= event.title %></li>
    <li>Description: <%= event.description %></li>
    <%= link_to 'View Event', event_path(event.id) %>
    </br>
    </br>
  <% end %>
</div>
<div>
  <p>Past Events:</p>
  <% past_invites = @user.attended_events.where("date < ?", Time.current) %>
  <% past_invites.each do |event| %>
    <li>Event Date: <%= event.date %></li>
    <li>Event Name: <%= event.title %></li>
    <li>Description: <%= event.description %></li>
    <%= link_to 'View Event', event_path(event.id) %>
    </br>
    </br>
  <% end %>
</div>
