<h3>Past Events:</h3>
  <% @past_events.each do |event| %>
    <ul class="event-list">
      <li>Event Date: <%= event.date %></li>
      <li>Event Creator: <%= event.creator.email %></li>
      <li>Event Name: <%= event.title %></li>
      <li>Description: <%= event.description %></li>
      <%= link_to 'View Event', event_path(event.id) %>
    </ul>
  <% end %>
  