<h1>Private Events #show</h1>

<div>
<li>Event Name: <%= @event.title %>
</li>
<li>Description: <%= @event.description %>
</li>
<li>Event Date: <%= @event.date %>
</li>
<li>Event Creator: <%= @event.creator.email %>
</li>
<li>Attend this Event:
  <% if user_signed_in? %>
    
    <%= render 'invitation_form' %>
  <% else %>
    <p> Log in to attend this event</p>
  <% end %>  
</li>
<li>Remove Yourself from This Event:
  <% if user_signed_in? %>
    <%= render 'remove_invitation_form' %>
    
  <% else %>
    <p>Log in to remove yourself from this event</p>
  <% end %>
</li>


<li>Users attending this event: 
  <% @event.attendees.each do |attendee| %>
    <%= attendee.email %>
  <% end %>
</li>
<li>Edit this Event:
<%= link_to 'Edit', edit_event_path(@event) %>
</li>
<% if @event.creator == current_user %>
  <li>Delete this Event:
  <%= link_to 'Destroy', event_path(@event), 
              method: :delete, 
              data: { confirm: "Are you sure you want to delete this event?" } %>
  </li>
<% end %>
</div>
